hr{
  display: block;
  border-top:10px dotted red;
  border-left: 0cm;
  border-right:0cm;
  border-right:0cm;
  border-bottom:0cm;
  width: 5%;
  }

body{
  background-color: #FFF7E9
}

a:link{
  text-decoration: none;
}

body{
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

table{
  margin-left: auto;
  margin-right: auto;
}
